@use '../../styles/partials/global' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;
@use '../../styles/partials/typography' as *;

.play-icon{
    color: #ff0000;
}
svg{
    color: $inspireBlack-color;
    width: 550px;
}