@use '../../styles/partials/global' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;
@use '../../styles/partials/typography' as *;

.music{
    width: 100%;
    padding: 1rem;
    padding-top: 2rem;
    padding-bottom: 2.5rem;
    
    @include tablet{
        width: 80%;
        margin: 0 auto;
    }
   
     &__block{
        width: 100%;
        @include box-shadow;
        @include flex-center(column);
        justify-content: space-between;
        @include tablet{
            @include flex-center(row);
        }
     }

    &__box{
       padding: 1rem;

        @include tablet{
            width: 50%;
        }
       
    }
    &__image-container{
        width: 100%;
        height: 50%;
        margin-top: 1rem;

        @include tablet{
            width: 45%;
            height: 300px;
        }
       
    }
    &__image{
        width: 100%;
        @include tablet{
            height: 100%;
        }
    }
    &__title{
        color: $inspireBlack-color;
        padding-bottom: 1rem;
        @include heading-font-mob;
        font-weight: 700;

        @include tablet{
            @include heading-font-tab;
            font-weight: 700;
        }
    }
    &__text{
        color: $inspireBlack-color;
        @include body-font-mob;

        @include tablet{
            @include body-font-tab;
        }
    }
}
.category{
    width: 100%;
    padding: 1rem;
    @include flex-center(column);
    justify-content: space-between;
    @include tablet{
       width: 80%;
       @include flex-center(row);
       margin: 0 auto;
    }
   &__btn{
    width: 100%;
    padding: 10px 15px 10px 15px;
    background-color: $secondary-color;
    border: 2px solid $primary-color;
    border-radius: 15px;

    @include tablet{
        width: 20rem;
    }

    &:hover{
        background-color: $primary-color;
        color: $secondary-color;
    }
   }
   &__start{
    @include body-font-mob;
    text-align: center;
    margin-bottom: 1rem;
    @include tablet{
        @include body-font-tab;
        margin-bottom: 0;
    }
   }
   &__link{
    color: $inspireBlack-color;
   }
}